{% extends 'html.html' %}
{% load widget_tweaks %}

{% block page_title %}{% block title %}{% block heading %}{{ title }}{% endblock %}{% endblock %}{% endblock %}

{% block breadcrumb %}
<li><i class="icon_document_alt"></i>Forms</li>
<li><i class="fa fa-file-text-o"></i>{{ title }}</li>
{% endblock breadcrumb %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group">
        {{ f | add_label_class:"col-sm-2 control-label" }}
        <div class="col-sm-10">
            {{ f | add_class:"form-control" | safe }}
            {{ f.help_text }}
        </div>
        {% if f.errors %}
        <div class="form-group"><i class="far fa-times-circle"></i>{{ f.errors }}</div>
        {% endif %}
    </div><br>
    {% endfor %}
    {% if object %}
    <input type="submit" class="btn btn-primary" value="Update data">
    {% else %}
    <input type="submit" class="btn btn-primary" value="Save">
    {% endif %}
</form>
{% endblock content %}