{% extends 'html.html' %}

{% block page_title %}{% block title %}Setting Tahun Pelajaran{% endblock %}{% endblock %}

{% block breadcrumb %}
<li><i class="fa fa-laptop"></i>Setting</li>
<li><i class="fa fa-laptop"></i>Tahun Pelajaran</li>
{% endblock breadcrumb %}

{% block heading %}
Tahun Pelajaran Berjalan {% if messages %}{% for message in messages %}<span class="text-success">{{ message }}</span>{% endfor %}{% endif %}
{% endblock heading %}

{% block content %}
<table class="table table-striped table-advance table-hover">
    <tbody>
        {% if object_list %}
        {% for object in object_list %}
        <tr>
            <td>{{ object }}</td>
            <td>
                {% if object.sekarang == True %}
                Tahun Pelajaran Saat ini <i class="fa fa-check"></i>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'utama:ta-add' %}" class="btn btn-primary"><i class="icon_plus_alt2"></i></a>
                <a href="{% url 'utama:ta-edit' object.id %}" class="btn btn-success"><i class="fa fa-edit"></i></a> 
                <a href="{% url 'utama:ta-del' object.id %}" class="btn btn-danger"><i class="icon_close_alt2"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td><h2>Tahun pelajaran belum dibuat</h2></td>
            <td><a href="{% url 'utama:ta-add' %}">Buat baru</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}